<button (click)="openEnableDisableStore()"
        *ngIf="isDisableStore"
        class="btn btn-outline-secondary"
        tooltip="Disable Store">
  <fa-icon [icon]="faTimes"></fa-icon>
</button>

<button (click)="openEnableDisableStore()"
        *ngIf="isEnableStore"
        class="btn btn-outline-success"
        tooltip="Enable Store">
  <fa-icon [icon]="faCheck"></fa-icon>
</button>

<ng-template #enableDisableStoreTemplate>
  <div class="modal-header border-0 bg-light">
    <h4 *ngIf="isDisableStore" class="modal-title">Disable Store</h4>
    <h4 *ngIf="isEnableStore" class="modal-title">Enable Store</h4>
    <button (click)="closeEnableDisableStore()" class="close" type="button"><span
      aria-hidden="true">×</span></button>
  </div>

  <div class="modal-body flex-row pl-5 pr-5 mt-2">

    <div *ngIf="isDisableStore"
         class="d-flex flex-row">
      <fa-icon [icon]="faExclamationTriangle" class="font-size-1-2-rem text-danger"></fa-icon>
      <p class="ml-3">Do you want to disable the below store?</p>
    </div>

    <div *ngIf="isEnableStore"
         class="d-flex flex-row">
      <fa-icon [icon]="faExclamationTriangle" class="font-size-1-2-rem text-success"></fa-icon>
      <p class="ml-3">Do you want to enable the below store?</p>
    </div>

    <div class="ml-5 pt-5 pb-5">
      <div class="font-weight-bold text-muted">
        {{selectedStore.name}}
        <span *ngIf="selectedStore.status === 'disabled'"><i
          class="fas fa-exclamation-triangle text-danger"></i></span>
      </div>

      <div class="text-muted pt-1">
        {{selectedStore.description}}
      </div>
    </div>

  </div>

  <div class="modal-footer border-0">
    <button (click)="closeEnableDisableStore()"
            class="btn btn-light"
            type="button">
      Cancel
    </button>
    <button (click)="confirmDisableStore()"
            *ngIf="isDisableStore"
            class="btn btn-danger"
            type="button">
      Confirm Disable Store
    </button>
    <button (click)="confirmEnableStore()"
            *ngIf="isEnableStore"
            class="btn btn-success"
            type="button">
      Confirm Enable Store
    </button>
  </div>
</ng-template>
