<div class="info-container">

  <app-business-info></app-business-info>

  <h4 class="text-body custom-sans-font-regular ml-5 mt-2 mb-4">
    Business Stats
  </h4>

  <div class="row">

    <div class="col">

      <app-total-product-count-card></app-total-product-count-card>

    </div>

    <div class="col">

      <app-total-amount-earned-count-card></app-total-amount-earned-count-card>

    </div>

    <div class="col">

      <app-total-orders-received-count-card></app-total-orders-received-count-card>

    </div>

  </div>

</div>

<!--<h5 class="custom-sans-font-regular mt-5" style="margin-left: 210px">
  ShrubsInk Co Stats

</h5>

<div class="row mr-1 mt-3" style="margin-left: 210px">

  <div class="col-6">

    <app-product-count-chart></app-product-count-chart>

  </div>

  <div class="col-6">

    <app-amount-earned-and-order-received-chart></app-amount-earned-and-order-received-chart>

  </div>

</div>-->
