<div *ngIf="!showVerifyEmailErrorMessage && !showVerifyEmailSuccessMessage && !showResetPassword &&
            !showPasswordResetErrorMessage && !showPasswordResetSuccessMessage"
     class="row mt-3">

  <div class="col-md-6 mx-auto">

    <div class="row justify-content-center">

      <div class="col-lg-auto">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="row mt-3">
  <div class="col-md-6 mx-auto">

    <div *ngIf="showVerifyEmailSuccessMessage"
         class="card shadow-lg card-theme">
      <div class="card-body">

        <h3 class="text-center pb-4 pt-3">
          <span class="text-success font-weight-light">
            <fa-icon [icon]="faThumbsUp"
                     class="font-size-1-2-rem"></fa-icon> Email Verified Successful</span>
        </h3>

        <div class="text-center msg alert alert-success" role="alert">
          Your email has been verified successfully. Please login with your new password.
        </div>

        <div class="col-md-6 mx-auto">
          <div class="text-center mt-4">
            <button (click)="goToHome()"
                    class="btn btn-primary mb-3"
                    type="button">
              Go Home
            </button>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="showVerifyEmailErrorMessage"
         class="card shadow-lg card-theme">
      <div class="card-body">

        <h3 class="text-center pb-4 pt-3">
          <span class="text-info font-weight-light">
            <fa-icon [icon]="faExclamationTriangle"
                     class="font-size-1-2-rem"></fa-icon> Email Verification Error</span>
        </h3>

        <div class="text-center msg alert alert-info" role="alert">
          {{errorMessage}}
        </div>

        <div class="text-center">
          <div class="mt-4">
            <button (click)="goToLogin()"
                    class="btn btn-outline-success mr-2 mb-3"
                    type="button">
              Go To Login
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 mx-auto">

    <div *ngIf="showPasswordResetSuccessMessage"
         class="card shadow-lg card-theme">
      <div class="card-body">

        <h3 class="text-center pb-4 pt-3">
          <span class="text-success font-weight-light">
            <fa-icon [icon]="faThumbsUp"
                     class="font-size-1-2-rem"></fa-icon> Password Reset Successful</span>
        </h3>

        <div class="text-center msg alert alert-success" role="alert">
          Your password has been reset successfully. Please login with your new password.
        </div>

        <div class="col-md-6 mx-auto">
          <div class="text-center mt-4">
            <button (click)="goToLogin()"
                    class="btn btn-primary mb-3"
                    type="button">
              Go To Login
            </button>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="showPasswordResetErrorMessage"
         class="card shadow-lg card-theme">
      <div class="card-body">

        <h3 class="text-center pb-4 pt-3">
          <span class="text-info font-weight-light">
            <fa-icon [icon]="faExclamationTriangle"
                     class="font-size-1-2-rem"></fa-icon> Password Reset Error</span>
        </h3>

        <div class="text-center msg alert alert-info" role="alert">
          {{errorMessage}}
        </div>

        <div class="text-center">
          <div class="mt-4">
            <button (click)="goToLogin()"
                    class="btn btn-outline-success mr-2 mb-3"
                    type="button">
              Go To Login
            </button>

            <button (click)="goToForgotPassword()"
                    class="btn btn-outline-primary mb-3"
                    type="button">
              Forgot Password?
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="row mt-3">
  <div class="col-lg static-card mx-auto">

    <div *ngIf="showResetPassword"
         class="card shadow-lg card-theme">
      <div class="card-body">

        <div class="text-center pb-4 pt-3">
        </div>

        <h3 class="text-center pb-4 pt-3">
          <span class="text-primary font-weight-light"><fa-icon [icon]="faUnlockAlt"
                                                                class="font-size-1-2-rem"></fa-icon> Reset Password</span>
        </h3>

        <div *ngIf="errorMessage"
             class="msg alert alert-danger" role="alert">
          <fa-icon [icon]="faExclamationTriangle" class="font-size-1-2-rem"></fa-icon>
          {{ errorMessage }}
        </div>

        <form [formGroup]="resetPasswordForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input [readOnly]="true" class="form-control" formControlName="email" id="email"
                   name="email"
                   type="email">

            <div *ngIf="email.invalid && (email.dirty || email.touched || formSubmitted)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors.pattern">
                Enter a valid Email.
              </div>
            </div>

          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input (blur)="checkEnteredPasswords()"
                   class="form-control"
                   formControlName="password"
                   id="password"
                   name="password"
                   type="password">

            <div *ngIf="password.invalid && (password.dirty || password.touched || formSubmitted)"
                 class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input (blur)="checkEnteredPasswords()"
                   class="form-control"
                   formControlName="confirmPassword"
                   id="confirmPassword"
                   name="confirmPassword"
                   type="password">

            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched || formSubmitted)"
                 class="alert alert-danger">
              <div *ngIf="confirmPassword.errors.required">
                Password is required.
              </div>
            </div>

            <div *ngIf="showPasswordMismatchMessage"
                 class="alert alert-danger">
              <div>
                Password & Confirm Password should be the same.
              </div>
            </div>
          </div>

          <button (click)="resetPassword()"
                  class="btn btn-primary btn-block mb-3"
                  type="button">
            Reset Password
          </button>

          <button (click)="goToLogin()"
                  class="btn btn-outline-success btn-block mb-3"
                  type="button">
            Go To Login
          </button>
        </form>

      </div>
    </div>

  </div>
</div>

