<div class="row mt-5">
  <div class="col-lg static-card mx-auto">

    <div class="card shadow-lg card-theme">
      <div class="card-body">

        <div class="text-center pb-4 pt-3 ">
          <h5 class="logo">
            <i class="fa fa-tree" aria-hidden="true"></i>
            ShrubsInk
          </h5>
        </div>

        <h1 class="text-center pt-5">
          404
        </h1>
        <h3 class="text-center text-dark font-weight-light pb-5">
              Page Not Found </h3>

        <div class="row pt-4">
          <div class="col">
            <button (click)="goToHome()"
                    class="btn btn-dark btn-block mb-3"
                    type="button">
              <fa-icon [icon]="faHome"
                       class="font-size-1-2-rem"></fa-icon> &nbsp;
              Go to home
            </button>
          </div>

          <div class="col">
            <button (click)="goToLogin()"
                    class="btn btn-outline-dark btn-block mb-3"
                    type="button">
              <fa-icon [icon]="faLock"
                       class="font-size-1-2-rem"></fa-icon> &nbsp;
              Go to login
            </button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
