<button (click)="openAddEditPlantCategory()"
        *ngIf="isAddPlantCategory"
        class="btn btn-primary">
  <fa-icon [icon]="faPlus"></fa-icon>
  Add New Plant Category
</button>

<button (click)="openAddEditPlantCategory()"
        *ngIf="isEditPlantCategory"
        class="btn btn-outline-primary"
        tooltip="Edit Plant Category">
  <fa-icon [icon]="faPencilAlt"></fa-icon>
</button>

<ng-template #addEditPlantCategoryTemplate>
  <div class="modal-header border-0 bg-light">
    <h4 *ngIf="isAddPlantCategory" class="modal-title">Add New PlantCategory</h4>
    <h4 *ngIf="isEditPlantCategory" class="modal-title">Edit PlantCategory</h4>
    <button (click)="closeAddEditPlantCategory()" class="close" type="button"><span
      aria-hidden="true">×</span></button>
  </div>

  <div class="modal-body flex-row pl-4 pr-4 mt-2">

    <form [formGroup]="addEditPlantCategoryForm">

      <div class="card mb-4 details-card">
        <div class="card-body">

          <div class="d-flex row">

            <div class="col-md justify-content-center">
              <div class="form-group">
                <label class="text-primary" for="name">Name</label>
                <input class="form-control required-field"
                       formControlName="name"
                       id="name"
                       name="name"
                       type="text">

                <div *ngIf="name.invalid && (name.dirty || name.touched || formSubmitted)"
                     class="alert alert-danger">

                  <div *ngIf="name.errors.required">
                    Name is required.
                  </div>

                </div>

              </div>
            </div>

          </div>

          <div class="d-flex row">

            <div class="col-md justify-content-center">
              <div class="form-group">
                <label class="text-primary" for="description">Description</label>
                <textarea
                  class="form-control"
                  formControlName="description"
                  id="description"
                  name="description"
                  rows="2"></textarea>

                <div *ngIf="description.invalid && (description.dirty || description.touched || formSubmitted)"
                     class="alert alert-danger">

                  <div *ngIf="description.errors.required">
                    Description is required.
                  </div>

                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

    </form>

  </div>

  <div class="modal-footer border-0">
    <button (click)="closeAddEditPlantCategory()"
            class="btn btn-light"
            type="button">
      Cancel
    </button>
    <button (click)="confirmAddPlantCategory()"
            *ngIf="isAddPlantCategory"
            class="btn btn-success"
            type="button">
      Confirm Add Plant Category
    </button>
    <button (click)="confirmEditPlantCategory()"
            *ngIf="isEditPlantCategory"
            class="btn btn-success"
            type="button">
      Confirm Edit Plant Category
    </button>
  </div>
</ng-template>
