<h5 class="mb-4 store-product" routerLink="/stores">
  <fa-icon [icon]="faCaretLeft"></fa-icon> &nbsp;
  Store Products
</h5>

<div class="row mb-4 border">
  <div class="col-lg  static-card mx-auto">

    <div>

      <div class="text-center pb-4 pt-4">
        <img src="https://img.icons8.com/color/96/000000/sakura.png"
             alt="Verified Logo"/>
      </div>

      <h4 class="text-center pb-4">
          <span class="text-secondary font-weight-normal">
          All Products
        </span>
      </h4>

    </div>

  </div>
</div>

<h5 class="mb-4">
  Store's available products
</h5>


<div class="row">

  <div class="col">
    <app-show-product-categories-in-card
      *ngIf="productCategoryMap"
      [currentProductCategories]="storeProfile?.productCategories"
      [productCategoryMap]="productCategoryMap">
    </app-show-product-categories-in-card>
  </div>

</div>
