<h5 class="mb-4">
  Products
</h5>

<div class="row mb-4">
  <div class="col-lg static-card mx-auto">

    <div>

      <div class="text-center pb-4 pt-4">
        <img src="https://img.icons8.com/color/96/000000/sakura.png"
             alt="Verified Logo"/>
      </div>

      <h4 class="text-center pb-4">
          <span class="text-secondary font-weight-normal">
          All Products
        </span>
      </h4>

    </div>

  </div>
</div>


<div class="row mb-4">
  <div class="col w-50 bg-info-light" *ngIf="storeProfile?.types?.plantsType">
    <div class="custom-card primary-border shadow-hover"
         tooltip="Click to see available plants">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="primary-text float-sm-left">Plants</h4>
            <h6 class="text-dark float-sm-left text-muted mt-1">Total Types: 2</h6>
            <h6 class="text-dark float-sm-left text-muted">Total Products: 2</h6>
          </div>

          <div class="col">
            <img class="float-sm-right"
                 src="/assets/images/products/plants/plants_available.png"
                 alt="Plants Logo"/>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="col w-50" *ngIf="storeProfile?.types?.plantsType === false">
    <div class="custom-card unavailable-border unavailable-bg not-allowed-hover">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="text-dark float-sm-left">Plants</h4>
            <p class="text-dark float-sm-left text-muted mt-1 ">Plants unavailable to this store</p>
          </div>

          <div class="col">
            <img class="float-sm-right"
                 src="/assets/images/products/plants/plants_unavailable.png"
                 alt="Plants Logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col w-50" *ngIf="storeProfile?.types?.gardeningType">
    <div class="custom-card success-border shadow-hover"
         tooltip="Click to see available gardens">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="success-text float-sm-left">Gardening</h4>
            <h6 class="text-dark float-sm-left text-muted mt-1">Total Types: 2</h6>
            <h6 class="text-dark float-sm-left text-muted">Total Products: 2</h6>
          </div>

          <div class="col">
            <img class="float-sm-right"
                 src="/assets/images/products/gardening/gardening_available.png"
                 alt="Gardening Logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col w-50" *ngIf="storeProfile?.types?.gardeningType === false">
    <div class="custom-card unavailable-border unavailable-bg not-allowed-hover">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="text-dark float-sm-left">Gardening</h4>
            <p class="text-dark float-sm-left text-muted mt-1 ">Gardening unavailable to this store</p>
          </div>

          <div class="col">
            <img class="float-sm-right"
                 src="/assets/images/products/gardening/gardening_unavailable.png"
                 alt="Gardening Logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col w-50" *ngIf="storeProfile?.types?.flowersType">
    <div class="custom-card danger-border shadow-hover"
         tooltip="Click to see available flowers">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="danger-text float-sm-left">Flowers</h4>
            <h6 class="text-dark float-sm-left text-muted mt-1">Total Types: 2</h6>
            <h6 class="text-dark float-sm-left text-muted">Total Products: 2</h6>
          </div>

          <div class="col">
            <img class="float-sm-right"
                 src="/assets/images/products/flowers/flower_available.png"
                 alt="Flowers Logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col w-50" *ngIf="storeProfile?.types?.flowersType === false">
    <div class="custom-card unavailable-border unavailable-bg not-allowed-hover">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="text-dark float-sm-left">Flowers</h4>
            <p class="text-dark float-sm-left text-muted mt-1 ">Flowers unavailable to this store</p>
          </div>

          <div class="col">
            <img class="float-sm-right"
                 src="/assets/images/products/flowers/flower_unavailable.png"
                 alt="Flower Logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col w-50" *ngIf="storeProfile?.types?.toolsType">
    <div class="custom-card warning-border shadow-hover"
         tooltip="Click to see available tools">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="warning-text float-sm-left">Tools</h4>
            <h6 class="text-dark float-sm-left text-muted mt-1">Total Types: 2</h6>
            <h6 class="text-dark float-sm-left text-muted">Total Products: 2</h6>
          </div>

          <div class="col">
            <img class="float-sm-right"
                 src="/assets/images/products/tools/tools_available.png"
                 alt="Tools Logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col w-50" *ngIf="storeProfile?.types?.toolsType === false">
    <div class="custom-card unavailable-border unavailable-bg not-allowed-hover">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h4 class="text-dark float-sm-left">Tools</h4>
            <p class="text-dark float-sm-left text-muted mt-1 ">Tools unavailable to this store</p>
          </div>

          <div class="col">
            <img class="float-sm-right"
                 src="/assets/images/products/tools/tools_unavailable.png"
                 alt="Tools Logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
