.custom-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 150px;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
}

.primary-border {
  border: 1px solid #02b3e4;
}

.primary-text {
  color: #02b3e4;
}

.secondary-border {
  border: 1px solid #6c757d;
}

.success-border {
  border: 1px solid #02ccba;
}

.success-text {
  color: #02ccba;
}


.info-border {
  border: 1px solid #a951ed;
}

.info-text {
  color: #a951ed;
}


.dark-border {
  border: 1px solid #343a40;
}

.danger-border {
  border: 1px solid #dc3545;
}

.danger-text {
  color: #dc3545;
}

.warning-border {
  border: 1px solid #FA7623;
}

.warning-text {
  color: #FA7623;
}

.unavailable-bg {
  background-color: #DFDFDF;
}

.unavailable-border {
  color: #DFDFDF;
}

.shadow-hover:hover {
  box-shadow: 3px 3px 3px #DFDFDF;
  cursor: pointer;
}

.not-allowed-hover {
  cursor: not-allowed;
}
