/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #031b4d; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px;
}

/* The navigation menu links */
.sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #031b2f;
  color: #fff;
  cursor: pointer;
}

.sidenav a.active {
  background-color: #031b2f;
  color: #fff;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}

.dashboard {
  padding-left: 17px;
  font-weight: 600;
  color: #677694;
  font-size: .8rem;
  line-height: .8rem;
  letter-spacing: .07rem;
}

.dashboard:hover {
  cursor: pointer;
}

.logo {
  padding-top: 30px;
  font-weight: 600;
  color: #677694;
  line-height: .8rem;
  letter-spacing: .06rem;
  font-size: 20px;
}

.logo:hover {
  color: #fff;
  cursor: pointer;
}

.gradient {
  background: linear-gradient(120deg, whitesmoke, whitesmoke);
  float: right;
  color: #000;
  margin-left: 180px;
  height: 70px;
}


.portfolio-navbar.navbar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.margin-move-up-5 {
  margin-top: -5px;
}

.border-line {
  margin-top: 24px;
  background-color: #677694;
}
