.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #031b4d;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
}

.sidenav a:hover {
  background-color: #031b2f;
  color: #fff;
  cursor: pointer;
}

.sidenav a.active {
  background-color: #031b2f;
  color: #fff;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 14px;}
}

.top-layer-menu {
  padding-left: 17px;
  font-weight: 600;
  color: #677694;
  font-size: .8rem;
  line-height: .8rem;
  letter-spacing: .07rem;
}

.top-layer-menu:hover {
  cursor: pointer;
}

.logo {
  padding-top: 30px;
  font-weight: 600;
  color: #677694;
  line-height: .8rem;
  letter-spacing: .06rem;
  font-size: 20px;
}

.logo:hover {
  color: #fff;
  cursor: pointer;
}

.gradient {
  background: linear-gradient(120deg, whitesmoke, whitesmoke);
  float: right;
  color: #000;
  margin-left: 180px;
  height: 70px;
}


.portfolio-navbar.navbar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}

.margin-move-up-5 {
  margin-top: -5px;
}

.border-line {
  margin-top: 24px;
  background-color: #677694;
}

.store-logo {
  letter-spacing: 0.5px;
  margin-top: 7px;
  color: #014A74;
}
