<!-- Side navigation -->
<div class="sidenav" *ngIf="isLoggedIn">

  <span class="logo logo-text ml-3 text-center">

    <i class="fa fa-tree" aria-hidden="true"></i>
    ShrubsInk
  </span>

  <p class="pt-2 top-layer-menu">
    DASHBOARD
  </p>

  <!-- Overview Menu -->
  <p class="pt-4 top-layer-menu"
     (click)="isOverviewCollapsed = !isOverviewCollapsed"
     [attr.aria-expanded]="!isOverviewCollapsed"
     aria-controls="collapseDashboard">
    OVERVIEW
    <i class="fa fa-caret-down pr-4 float-right" aria-hidden="true"></i>
  </p>

  <div
    id="collapseProduct"
    [collapse]="isOverviewCollapsed"
    [isAnimated]="true">
    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLink="overview/business-dashboard"
       routerLinkActive="active">

      <i class="fa fa-dashboard" aria-hidden="true"></i> &nbsp;
      Dashboard</a>

    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLink="overview/business-stats"
       routerLinkActive="active">

      <i class="fa fa-bar-chart" aria-hidden="true"></i> &nbsp;
      Business Stats</a>

  </div>

  <hr class="border-line">


  <!-- Product Menu -->
  <p class="pt-2 top-layer-menu"
     (click)="isProductCollapsed = !isProductCollapsed"
     [attr.aria-expanded]="!isProductCollapsed"
     aria-controls="collapseDashboard">
    PRODUCTS
    <i class="fa fa-caret-down pr-4 float-right" aria-hidden="true"></i>
  </p>

  <div id="collapseProduct"
       [collapse]="isProductCollapsed"
       [isAnimated]="true">

    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLinkActive="active">

      <i class="fa fa-tree" aria-hidden="true"></i> &nbsp;
      Plants</a>

    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLinkActive="active">

      <i class="fa fa-envira" aria-hidden="true"></i> &nbsp;
      Flowers</a>

    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLinkActive="active">

      <i class="fa fa-pagelines" aria-hidden="true"></i> &nbsp;
      Seeds</a>

  </div>


  <hr class="border-line">


  <!-- Orders Menu -->
  <p class="pt-2 top-layer-menu"
     (click)="isOrderCollapsed = !isOrderCollapsed"
     [attr.aria-expanded]="!isOrderCollapsed"
     aria-controls="collapseDashboard">
    ORDERS
    <i class="fa fa-caret-down pr-4 float-right" aria-hidden="true"></i>
  </p>

  <div id="collapseProduct"
       [collapse]="isOrderCollapsed"
       [isAnimated]="true">

    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLinkActive="active">

      <i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp;
      New Orders</a>

    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLinkActive="active">

      <i class="fa fa-history" aria-hidden="true"></i> &nbsp;
      Histories</a>

  </div>

  <hr class="border-line">


  <!-- Profiles Menu -->
  <p class="pt-2 top-layer-menu"
     (click)="isProfileCollapsed = !isProfileCollapsed"
     [attr.aria-expanded]="!isProfileCollapsed"
     aria-controls="collapseDashboard">
    PROFILES
    <i class="fa fa-caret-down pr-4 float-right" aria-hidden="true"></i>
  </p>

  <div id="collapseProduct"
       [collapse]="isProfileCollapsed"
       [isAnimated]="true">

    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLinkActive="active">

      <i class="fa fa-home" aria-hidden="true"></i> &nbsp;
      Store Profile</a>

    <a class="custom-sans-font-light font-size-14 pl-3"
       routerLinkActive="active">

      <i class="fa fa-user" aria-hidden="true"></i> &nbsp;
      Holder Profile</a>

  </div>

  <div class="main pl-5" *ngIf="isLoggedIn">
    <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top gradient portfolio-navbar shadow-sm">

      <div class="container-fluid">

        <h5 class="navbar-brand text-body store-logo">
          Store Name, Dashboard</h5>

        <div
          class="collapse navbar-collapse justify-content-end" id="navbarNav" >

          <div *ngIf="isLoggedIn"
               class="row pl-3 custom-sans-font-light">
            <fa-icon [icon]="faUserCircle" class="font-size-1-2-rem pl-3" size="2x"></fa-icon>
            <div class="mt-1 pl-2"> {{loggedInUser}}</div>
          </div>

          <div *ngIf="isLoggedIn" class="pl-3" style="float:right;">
            <button (click)="logOut()"
                    class="btn btn-link"
                    type="button">
              <fa-icon [icon]="faSignOutAlt" class="font-size-1-2-rem text-body" size="2x"></fa-icon>
            </button>
          </div>

        </div>

      </div>
    </nav>
  </div>
</div>
