.verification-logo {
  width: 150px;
  height: 150px;
}

.verification-text {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo {
  width: 80px;
  height: 80px;
}

.custom-margin {
  margin: 30px -15px 50px;
}

.verified-logo {
  width:25px;
  height:25px;
}

.click-aadhar-modal:hover {
  cursor: pointer;
}

.aadhar-logo {
  width: 100px;
  height: 100px;
}

.verification:hover {
  cursor: pointer;
}
