<div class="container pb-4 alignment">
  <div class="row">

    <div class="col-1 mr-4 pr-3">

      <!--<img class="logo"
           src="../../../../../assets/images/placeholders/store_profile_placeholder.png"
           alt="Store Profile">-->

      <i class="fa fa-tree logo mt-1" aria-hidden="true"></i>

    </div>


    <div class="col-9">

      <h2 class="mr-3 custom-sans-font-light d-inline">Welcome to ShrubsInk Dashboard</h2>

      <h6 class="text-muted custom-sans-font-light mt-3">
        ShrubsInk Dashboard is used to yell your store out to customers and,
        monitor your Business Stats, Revenue Tracker and so on.</h6>

    </div>

    <!--<div class="col-3 ml-5 text-center mt-4 float-sm-right">
      <button type="button" class="btn-lg float-sm-right btn-primary">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        Store Profile
      </button>
    </div>-->

  </div>

</div>


<div class="business-info-card shadow-sm">
  <div class="card-body">

    <div class="m-3">

      <img class="store-logo d-inline"
           src="../../../../../assets/images/placeholders/store_profile_placeholder.png"
           alt="Store Profile">

      <h4 class="d-inline align-middle custom-sans-font-light">Store Title</h4>

      <span class="badge badge-info align-middle ml-3">
      <img class="align-middle" src="https://img.icons8.com/color/18/000000/verified-account.png"/>
        <span class="align-middle ml-1">Verified Store</span>
        </span>

      <button class="btn info-btn custom-sans-font-regular justify-content-end float-right">
        <i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp;
        Store Profile
      </button>

      <hr class="mt-4" >

      <table class="table table-borderless">
        <tbody>
        <tr>
          <td class="text-dark">
            <div class="row">
              <div class="col-12 font-size-18">
                Description
              </div>
              <div class="col-12">
                Some Description about current store.
              </div>
            </div>
          </td>

          <td class="text-dark">
            <div class="row">
              <div class="col-12 font-size-18">
                Products
              </div>
              <div class="col-12">
                Plants, Flowers, Seeds
              </div>
            </div>
          </td>

          <td class="text-dark">
            <div class="row">
              <div class="col-12 font-size-18">
                Address
              </div>
              <div class="col-12">
                Anna Nagar
              </div>
            </div>
          </td>

          <td class="text-dark">
            <div class="row">
              <div class="col-12 font-size-18">
                Contact
              </div>
              <div class="col-12">
                8248433574
              </div>
            </div>
          </td>

        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>


<div class="business-info-card shadow-sm">
  <div class="card-body">

    <div class="m-3">

      <img class="store-logo d-inline"
           src="https://img.icons8.com/ultraviolet/40/000000/user.png"
           alt="Store Profile">

      <h4 class="d-inline align-middle custom-sans-font-light">Holder Name</h4>

      <span class="badge badge-info align-middle ml-3">
      <img class="align-middle" src="https://img.icons8.com/color/18/000000/verified-account.png"/>
        <span class="align-middle ml-1">Approved Holder</span>
        </span>

      <button class="btn red-btn custom-sans-font-regular justify-content-end float-right">
        <i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp;
        Holder Profile
      </button>

      <hr class="mt-4" >

      <table class="table table-borderless">
        <tbody>
        <tr>
          <td class="text-dark">
            <div class="row">
              <div class="col-12 font-size-18">
                Aadhar Name
              </div>
              <div class="col-12 aadhar-letter-spacing">
                Ajay Sharvesh
              </div>
            </div>
          </td>

          <td class="text-dark">
            <div class="row">
              <div class="col-12 font-size-18">
                Aadhar Number
              </div>
              <div class="col-12 aadhar-letter-spacing">
                1278182414124141
              </div>
            </div>
          </td>

          <td class="text-dark">
            <div class="row">
              <div class="col-12 font-size-18">
                Address
              </div>
              <div class="col-12">
                Anna Nagar
              </div>
            </div>
          </td>

        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

