<div class="row mt-3">
  <div class="col-md-6 mx-auto">

    <div *ngIf="showForgotPasswordResetEmailSuccessMessage"
         class="card shadow-lg card-theme">
      <div class="card-body">

        <h3 class="text-center pb-4 pt-3">
                <span class="text-info font-weight-light">
                    <fa-icon [icon]="faPaperPlane"
                             class="font-size-1-2-rem"></fa-icon> Password Reset Email Sent</span>
        </h3>

        <div class="text-center msg alert alert-info" role="alert">
          A password reset email has been sent to your registered email address. Please follow the instruction
          in that
          email to complete your password reset.
        </div>

      </div>
    </div>

    <div *ngIf="showForgotPasswordErrorMessage"
         class="card shadow-lg card-theme">
      <div class="card-body">

        <h3 class="text-center pb-4 pt-3">
          <span class="text-info font-weight-light">
            <fa-icon [icon]="faExclamationTriangle"
                     class="font-size-1-2-rem"></fa-icon> Password Reset Email Error</span>
        </h3>

        <div class="text-center msg alert alert-info" role="alert">
          {{errorMessage}}
        </div>

      </div>
    </div>

  </div>
</div>

<div class="row mt-3">
  <div class="col-lg static-card mx-auto">

    <div *ngIf="showForgotPassword"
         class="card shadow-lg card-theme">
      <div class="card-body">

        <div class="text-center pb-4 pt-3">
          <h5 class="logo">
            <i class="fa fa-tree" aria-hidden="true"></i>
            ShrubsInk
          </h5>
        </div>

        <h3 class="text-center pb-4 pt-3">
          <span class="text-primary font-weight-light"><fa-icon [icon]="faKey"
                                                                class="font-size-1-2-rem"></fa-icon> Forgot Password</span>
        </h3>

        <div *ngIf="errorMessage"
             class="msg alert alert-danger" role="alert">
          <fa-icon [icon]="faExclamationTriangle" class="font-size-1-2-rem"></fa-icon>
          {{ errorMessage }}
        </div>

        <form [formGroup]="forgotPasswordForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" formControlName="email" id="email" name="email"
                   type="email">

            <div *ngIf="email.invalid && (email.dirty || email.touched || formSubmitted)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
              <div *ngIf="email.errors.pattern">
                Enter a valid Email.
              </div>
            </div>

          </div>

          <button (click)="forgotPassword()"
                  class="btn btn-primary btn-block mb-3 mt-2"
                  type="button">
            Send Password Reset Email
          </button>

          <button (click)="goToLogin()"
                  class="btn btn-outline-success btn-block mb-3"
                  type="button">
            Go To Login
          </button>

        </form>

      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
