<div class="row mt-3">
  <div class="col-lg static-card mx-auto">

    <div class="card shadow-lg card-theme">
      <div class="card-body">

        <div class="text-center pb-4 pt-3">
          Angular App Template
        </div>

        <div class="container">
          <div class="text-center">
            <p class="font-weight-lighter mt-3">You have successfully logged out now.</p>
            <a class="btn btn-outline-primary mt-3" role="button"
               routerLink="/security/login">Login Again
              <fa-icon [icon]="faSignInAlt" class="font-size-1-2-rem"></fa-icon>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
