<button (click)="openAddEditStore()"
        *ngIf="isAddStore"
        class="btn btn-primary">
  <fa-icon [icon]="faPlus"></fa-icon>
  Add New Store
</button>

<button (click)="openAddEditStore()"
        *ngIf="isEditStore"
        class="btn btn-outline-primary"
        tooltip="Edit Store">
  <fa-icon [icon]="faPencilAlt"></fa-icon>
</button>

<ng-template #addEditStoreTemplate>
  <div class="modal-header border-0 bg-light">
    <h4 *ngIf="isAddStore" class="modal-title">Add New Store</h4>
    <h4 *ngIf="isEditStore" class="modal-title">Edit Store</h4>
    <button (click)="closeAddEditStore()" class="close" type="button"><span
      aria-hidden="true">×</span></button>
  </div>

  <div class="modal-body flex-row pl-4 pr-4 mt-2">

    <form [formGroup]="addEditStoreForm">

      <div class="card mb-4 details-card">
        <div class="card-body">

          <div class="d-flex row">

            <div class="col-md justify-content-center">
              <div class="form-group">
                <label class="text-primary" for="name">Name</label>
                <input class="form-control required-field"
                       formControlName="name"
                       id="name"
                       name="name"
                       type="text">

                <div *ngIf="name.invalid && (name.dirty || name.touched || formSubmitted)"
                     class="alert alert-danger">

                  <div *ngIf="name.errors.required">
                    Name is required.
                  </div>

                </div>

              </div>
            </div>

          </div>

          <div class="d-flex row">

            <div class="col-md justify-content-center">
              <div class="form-group">
                <label class="text-primary" for="description">Description</label>
                <textarea
                  class="form-control"
                  formControlName="description"
                  id="description"
                  name="description"
                  rows="2"></textarea>

                <div *ngIf="description.invalid && (description.dirty || description.touched || formSubmitted)"
                     class="alert alert-danger">

                  <div *ngIf="description.errors.required">
                    Description is required.
                  </div>

                </div>

              </div>
            </div>

          </div>

          <div class="d-flex row">

            <div class="col-md justify-content-center">
              <div class="form-group">
                <label class="text-primary" for="contact">Contact</label>
                <input class="form-control"
                       formControlName="contact"
                       id="contact"
                       name="contact"
                       type="text">

              </div>
            </div>

          </div>


          <div>
            <div class="d-flex row">

              <div class="col-md justify-content-center">

                <app-select-multiple-product-categories
                  *ngIf="productCategoryList"
                  [parentFormGroup]="addEditStoreForm"
                  [productCategoryList]="productCategoryList" >
                </app-select-multiple-product-categories>

              </div>

            </div>
          </div>

          <div [formGroup]="storeHolder">
            <div class="d-flex row">

              <div class="col-md justify-content-center">
                <label class="text-primary"
                       for="storeHolderId">Select Store Holder</label>
                <div class="form-group">
                  <select class="form-control select-field-container"
                          formControlName="storeHolderId"
                          id="storeHolderId"
                          name="storeHolderId">
                    <option class="m-1" value="">Choose...</option>
                    <option *ngFor="let user of userList"
                            value="{{user.id}}">
                      {{user.firstName}} {{user.lastName}}</option>
                  </select>
                </div>
              </div>

            </div>
          </div>


          <div [formGroup]="address">
            <div class="d-flex row">

              <div class="col-md justify-content-center">
                <div class="form-group">
                  <label class="text-primary" for="addressLine">Address Line</label>
                  <textarea class="form-control"
                            formControlName="addressLine"
                            id="addressLine"
                            name="addressLine"
                            rows="1">
                </textarea>
                </div>
              </div>

            </div>


            <div class="d-flex row">

              <div class="col-md justify-content-center">
                <div class="form-group">
                  <label class="text-primary" for="city">City</label>
                  <input class="form-control"
                         formControlName="city"
                         id="city"
                         name="city"
                         type="text">
                </div>
              </div>

              <div class="col-md justify-content-center">
                <div class="form-group">
                  <label class="text-primary" for="state">State</label>
                  <input class="form-control"
                         formControlName="state"
                         id="state"
                         name="state"
                         type="text">
                </div>
              </div>

            </div>

          </div>


        </div>
      </div>

    </form>

  </div>

  <div class="modal-footer border-0">
    <button (click)="closeAddEditStore()"
            class="btn btn-light"
            type="button">
      Cancel
    </button>
    <button (click)="confirmAddStore()"
            *ngIf="isAddStore"
            class="btn btn-success"
            type="button">
      Confirm Add Store
    </button>
    <button (click)="confirmEditStore()"
            *ngIf="isEditStore"
            class="btn btn-success"
            type="button">
      Confirm Edit Store
    </button>
  </div>
</ng-template>
