<div class="container">

  <div class="row">
    <div class="col">

      <div class="card mb-4 card-no-border shadow-sm">

        <div class="card-body">

          <div class="row align-items-center">

            <div class="pt-2 col-4">
              <h5 class="category-title">
                <fa-icon [icon]="faTree"></fa-icon>
                Products
              </h5>
            </div>

          </div>


          <div class="row mt-5 mb-4">

            <div class="col w-50" *ngFor="let product of productList">
              <div class="card whitesmoke-bg {{product.cardTopTheme}} custom-hover"
                   tooltip="{{product.tooltip}}"
              routerLink="{{product.route}}">
                <div class="card-body text-center">

                  <img class="justify-content-center"
                       src="{{product.imageSrc}}"
                       alt="{{product.altText}}"/>

                  <h5 class="text-primary text-muted mt-3">
                    {{product.productName}}
                  </h5>

                  <h6 class="text-muted mt-5">
                    Categories: 0
                  </h6>

                  <h6 class="text-muted mt-2">
                    Counts: 0
                  </h6>

                </div>

              </div>
            </div>

            <!--<div class="col w-50">
              <div class="card card-theme-top-red">
                <div class="card-body text-center">

                  <img class="justify-content-center"
                       src="/assets/images/products/flowers/flower_available.png"
                       alt="Gardening Logo"/>

                  <h5 class="text-muted mt-3">
                    Flowers
                  </h5>

                  <h6 class="text-muted mt-5">
                    Categories: 0
                  </h6>

                  <h6 class="text-muted mt-2">
                    Counts: 0
                  </h6>

                </div>

              </div>
            </div>

            <div class="col w-50">
              <div class="card card-theme-top-success">
                <div class="card-body text-center">

                  <img class="justify-content-center"
                       src="/assets/images/products/gardening/gardening_available.png"
                       alt="Gardening Logo"/>

                  <h5 class="text-muted mt-3">
                    Gardening
                  </h5>

                  <h6 class="text-muted mt-5">
                    Categories: 0
                  </h6>

                  <h6 class="text-muted mt-2">
                    Counts: 0
                  </h6>

                </div>

              </div>
            </div>

            <div class="col w-50">
              <div class="card card-theme-top-warning">
                <div class="card-body text-center">

                  <img class="justify-content-center"
                       src="/assets/images/products/tools/tools_available.png"
                       alt="Gardening Logo"/>

                  <h5 class="text-muted mt-3">
                    Tools
                  </h5>

                  <h6 class="text-muted mt-5">
                    Categories: 0
                  </h6>

                  <h6 class="text-muted mt-2">
                    Counts: 0
                  </h6>

                </div>

              </div>
            </div>-->

          </div>

        </div>
      </div>

    </div>
  </div>

</div>
