<div class="row mt-3">
  <div class="col-md-6 mx-auto">

    <div class="card shadow-lg card-theme">
      <div class="card-body">

        <h3 class="text-center pb-4 pt-3">
          <span class="text-danger font-weight-light">
           <fa-icon [icon]="faExclamationTriangle" class="font-size-1-2-rem text-danger"></fa-icon> Access Not Authorized</span>
        </h3>

        <div class="msg alert alert-danger" role="alert">
          <p>Your email account is not authorized to access this application.
            Please contact the Administrator for access before you sign up again.</p>
        </div>

      </div>
    </div>

  </div>
</div>
