<div class="total-counts-card shadow-sm container-count-left">
  <div class="card-body">
    <div class="row">
      <div class="col-2 ml-4">
        <!--<img src="https://img.icons8.com/officel/64/000000/rupee.png"
             alt="Amount Earned Logo"/>-->
        <i class="fa fa-envira" id="total-counts-logo" aria-hidden="true"></i>
      </div>

      <div class="col-6 ml-3">
        <h4>100
          <span style="font-size: 14px">counts</span>
        </h4> <h6 class="text-muted">Total Product Counts</h6>
      </div>
    </div>

  </div>
</div>


