<ng-container *ngIf="currentProductCategories?.length > 0">
  <div *ngFor="let productCategory of currentProductCategories"
       class="d-inline-flex flex-wrap">
    <!--<button
      class="btn font-weight-normal btn-{{productCategoryMap[productCategory]?.productThemeColor}} m-1">
      {{productCategoryMap[productCategory]?.name}}
    </button>-->

    <div class="badge badge-{{productCategoryMap[productCategory]?.productThemeColor}} m-1">
      <span style="font-size: 13px;">{{productCategoryMap[productCategory]?.name}}</span>
    </div>

  </div>
</ng-container>
