<h5 class="mb-4">
  Store Verifications
</h5>

<div class="row mb-4" *ngIf="!showStoreProfileContent">
  <div class="col-lg static-card mx-auto">

    <div>

      <div class="text-center pb-4 pt-4">
        <img class="logo"
             *ngIf="storeProfile?.verifications?.email === false || storeProfile?.verifications?.aadharCard === false"
             src="https://img.icons8.com/wired/64/000000/id-verified.png"
             alt="Not Verified Logo"/>

        <img class="logo"
             *ngIf="storeProfile?.verifications?.email && storeProfile?.verifications?.aadharCard"
             src="https://img.icons8.com/dusk/64/000000/id-verified.png"
             alt="Verified Logo"/>
      </div>

      <h2 class="text-center pb-4"
          *ngIf="storeProfile?.verifications?.email && storeProfile?.verifications?.aadharCard">
        <span class="text-success font-weight-normal">
          Verifications Successfully Done
        </span>
      </h2>

      <h2 class="text-center pb-4"
          *ngIf="storeProfile?.verifications?.email === false || storeProfile?.verifications?.aadharCard === false">
        <span class="text-secondary font-weight-normal">
          Verifications Not Yet Done
        </span>
      </h2>

    </div>

  </div>
</div>


<div class="custom-border custom-margin" *ngIf="!showStoreProfileContent">
  <div class="row pt-4 pl-4">
    <div class="col w-75">
      <h5 class="text-muted">Verification Process</h5>
      <span class="text-muted mt-1">To sell products,
        Email and Aadhar Card should be verified.</span>
    </div>
  </div>


  <table class="table table-hover mt-4">
    <tbody>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>Email Verification</h6>
      </td>
      <td>
        <img *ngIf="storeProfile?.verifications?.email"
             class="verified-logo" src="https://img.icons8.com/color/48/000000/verified-account.png"
             alt="Email Verified"/>
      </td>
    </tr>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>Aadhar Verification</h6>
      </td>
      <td (click)="openAddAadhar()"
          class="click-aadhar-modal">
        <img class="verified-logo"
             *ngIf="storeProfile?.verifications?.aadharCard"
             src="https://img.icons8.com/color/48/000000/verified-account.png"
             alt="Aadhar Verified"/>

        <img class="verified-logo"
             *ngIf="!storeProfile?.verifications?.aadharCard"
             src="/assets/images/placeholders/not_verified.png"
             alt="Aadhar Verified"/>
      </td>
    </tr>

    </tbody>
  </table>


</div>

<ng-template #addAadharTemplate>
  <div class="modal-header border-0 bg-light">
    <h4 class="modal-title">Add Aadhar Card</h4>
    <button (click)="closeAddAadhar()" class="close" type="button"><span
      aria-hidden="true">×</span></button>
  </div>

  <div class="modal-body flex-row pl-4 pr-4 mt-2">

    <form [formGroup]="addAadharForm">

      <div class="card mb-4 details-card">
        <div class="card-body">

          <div [formGroup]="storeHolder">

            <div class="form-group">
              <label class="text-primary" for="aadharName">Aadhar Card Name</label>
              <input class="form-control required-field"
                     formControlName="aadharName"
                     id="aadharName"
                     name="aadharName"
                     type="text">

              <div *ngIf="storeHolder.invalid && (storeHolder.dirty || storeHolder.touched || formSubmitted)"
                   class="alert alert-danger">

                <div *ngIf="storeHolder.errors.required">
                  Aadhar Name is required.
                </div>

              </div>
            </div>

            <div class="d-flex row">

              <div class="col-md justify-content-center">
                <div class="form-group">
                  <label class="text-primary" for="aadharNumber">Aadhar Card Number</label>
                  <input class="form-control required-field"
                         formControlName="aadharNumber"
                         id="aadharNumber"
                         name="aadharNumber"
                         type="text">
                </div>
              </div>

              <div *ngIf="storeHolder.invalid && (storeHolder.dirty || storeHolder.touched || formSubmitted)"
                   class="alert alert-danger">

                <div *ngIf="storeHolder.errors.required">
                  Aadhar Number is required.
                </div>

              </div>

            </div>

            <div class="d-flex row">

              <div class="col-md justify-content-center">
                <div class="form-group">
                  <label class="text-primary" for="address">Aadhar Card Address</label>
                  <input class="form-control required-field"
                         formControlName="address"
                         id="address"
                         name="address"
                         type="text">
                </div>
              </div>

            </div>

          </div>


        </div>
      </div>

    </form>

  </div>

  <div class="modal-footer border-0">
    <button (click)="closeAddAadhar()"
            class="btn btn-light"
            type="button">
      Cancel
    </button>
    <button (click)="confirmAddAadhar()"
            class="btn btn-success"
            type="button">
      Confirm Add Aadhar
    </button>
  </div>
</ng-template>


<div class="custom-border custom-margin"
     *ngIf="!showStoreProfileContent && storeProfile?.verifications?.aadharCard">
  <div class="row pt-4 pl-4">
    <div class="col w-75">
      <h5 class="text-muted">Aadhar Card</h5>
      <span class="text-muted mt-1">Store Holder's verified Aadhar Card Details</span>
    </div>
  </div>


  <table class="table table-hover mt-4">
    <tbody>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>Aadhar Card Name</h6>
      </td>
      <td>
        {{storeProfile?.storeHolder?.aadharName}}
      </td>
    </tr>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>Aadhar Card Number</h6>
      </td>
      <td>
        {{storeProfile?.storeHolder?.aadharNumber}}
      </td>
    </tr>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>Aadhar Card Address</h6>
      </td>
      <td>
        {{storeProfile?.storeHolder?.address}}
      </td>
    </tr>

    </tbody>
  </table>

</div>


<div *ngIf="showStoreProfileContent"
     class="row justify-content-center mt-5">

  <div class="col-lg-auto">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</div>
