<div class="mt-4">


  <div *ngIf="dataFetchInProgress && isInitialDataLoad"
       class="row justify-content-center mb-5">

    <div class="col-lg-auto">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>

  <div class="table-responsive">

    <div *ngIf="storeList?.length < 1 && !dataFetchInProgress"
         class="alert alert-primary text-center" role="alert">
      <div>No Stores Found.</div>
    </div>

    <table *ngIf="storeList?.length > 0"
           class="table table-striped border">

      <tbody *ngIf="!showStores">
      <tr *ngFor="let store of storeList index as index"
          class="align-middle">

        <td class="text-muted align-middle pl-3" scope="row">
          <span class="badge badge-secondary text-light">{{index + 1}}</span>
        </td>

        <td class="align-middle-bold text-dark">
          <div class="font-weight store-hover"
               routerLink="{{store.id}}/profile">
            <h6>{{store.name}}</h6>
            <span *ngIf="store.status === 'disabled'"
                  tooltip="Store Disabled">
              <fa-icon [icon]="faExclamationTriangle" class="text-danger"></fa-icon>
            </span>
          </div>
          <div class="mt-2 text-muted font-weight align-middle">
            {{store.description}}
          </div>
        </td>

        <td class="align-middle-bold text-dark">
          <div class="mt-2 text-muted font-weight align-middle">
            <span class="badge badge-danger"
                  routerLink="users/{{store.storeHolder.storeHolderId}}">{{store.storeHolder.storeHolderName}}</span>
          </div>
        </td>


        <td class="d-flex align-middle flex-wrap justify-content-end">

          <app-show-product-categories
            *ngIf="productCategoryMap"
            [currentProductCategories]="store.productCategories"
            [productCategoryMap]="productCategoryMap">
          </app-show-product-categories>

          <app-add-edit-store
            (afterStoreAddedOrEdited)="getStoreList()"
            [isEditStore]="true"
            [selectedStore]="store"
            class="m-1">
          </app-add-edit-store>

          <app-enable-disable-store
            (afterStoreEnabledOrDisabled)="getStoreList()"
            [selectedStore]="store"
            class="m-1">
          </app-enable-disable-store>

          <app-delete-store
            (afterStoreDeleted)="getStoreList()"
            [selectedStore]="store"
            class="m-1">
          </app-delete-store>
        </td>

      </tr>
      </tbody>

    </table>

  </div>

</div>

<div *ngIf="showStores"
     class="row justify-content-center mb-2">

  <div class="col-lg-auto">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</div>
