<div class="row custom-border">
  <div class="col-lg static-card mx-auto">

    <div>
      <div>

        <div class="text-center pb-4 pt-3 ">
          <img class="logo"
               src="../../../../../assets/images/placeholders/store_profile_placeholder.png"
               alt="Store Profile">
        </div>

        <h3 class="text-center pb-3">
          <span class="text-primary font-weight-normal">ShrubsInk Co</span>
        </h3>

        <h5 class="text-center font-weight-light pb-3">
          We sell all kinda flower, plants type, including we setup gardening and provide tools.
        </h5>

      </div>
    </div>

  </div>
</div>
