<div class="row custom-border" *ngIf="!showStoreProfileContent">
  <div class="col-lg static-card mx-auto">

      <div>

        <div class="text-center pb-4 pt-3 ">
          <img class="logo"
               src="../../../../../assets/images/placeholders/store_profile_placeholder.png"
               alt="Store Profile">
        </div>

        <h3 class="text-center pb-3">
          <span class="text-primary font-weight-normal">{{storeProfile?.name}}</span>
        </h3>

        <h6 class="text-center text-muted font-weight-normal pb-3" *ngIf="storeProfile?.description">
          {{storeProfile?.description}}
        </h6>

      </div>

  </div>
</div>


<div class="custom-border custom-margin" *ngIf="!showStoreProfileContent">
  <div class="row p-4">
    <div class="col w-75">
      <h5 class="text-muted">Store Profile</h5>
      <span class="text-muted mt-1">You have access rights to edit (or) delete this store.</span>
    </div>
  </div>


  <table class="table table-hover mt-3">
    <tbody>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>Owned by</h6>
      </td>
      <td>{{storeProfile?.storeHolder.storeHolderName}}</td>
    </tr>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>Store Contact</h6>
      </td>
      <td>{{storeProfile?.contact}}</td>
    </tr>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>Address Line</h6>
      </td>
      <td>{{storeProfile?.address?.addressLine}}</td>
    </tr>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>City</h6>
      </td>
      <td>{{storeProfile?.address?.city}}</td>
    </tr>

    <tr>
      <td class="pl-4 text-muted"
          scope="row">
        <h6>State</h6>
      </td>
      <td>{{storeProfile?.address?.state}}</td>
    </tr>

    <tr>
      <td class="pl-4 text-muted" scope="row">
        <h6>Types</h6>
      </td>
      <td>

        <button type="button"
                class="btn btn-sm btn-primary mr-2"
                *ngIf="storeProfile?.types?.plantsType">
          Plants
        </button>

        <button type="button"
                class="btn btn-sm btn-success mr-2"
                *ngIf="storeProfile?.types?.flowersType">
          Flower
        </button>

        <button type="button"
                class="btn btn-sm btn-info mr-2"
                *ngIf="storeProfile?.types?.gardeningType">
          Gardening
        </button>

        <button type="button"
                class="btn btn-sm btn-secondary"
                *ngIf="storeProfile?.types?.toolsType">
          Tools
        </button>

      </td>
    </tr>

    </tbody>
  </table>


</div>


<div *ngIf="showStoreProfileContent"
     class="row justify-content-center mt-5">

  <div class="col-lg-auto">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

</div>
