<div class="container">

  <div class="row">
    <div class="col">

      <div class="card mb-4 card-no-border shadow-sm">

        <div class="card-body">

          <div class="row align-items-center">

            <div class="pt-2 col-4">
              <h5 class="category-title">
                <fa-icon [icon]="faEnvelopeOpenText"></fa-icon>
                Projects
              </h5>
            </div>

            <div class="col-8 justify-content-end text-right">

              <app-add-edit-project
                (afterProjectAddedOrEdited)="triggerProjectRefresh()"
                [isAddProject]="true">
              </app-add-edit-project>

            </div>

          </div>

          <div class="row">

            <div class="col">
              <app-project-list
                [refreshProjectList]="refreshProjectList">
              </app-project-list>
            </div>

          </div>


        </div>
      </div>

    </div>
  </div>

</div>
